<div class="top">
    <button class="button1" (click)="goToHome()">
        <i class="fa fa-home" aria-hidden="true"></i>
        <p>Inicio</p>
    </button>
    <button class="button2" (click)="goToForm()">
        <i class="iconify" data-icon="mdi-pokeball" data-inline="false">
        </i>
        <p>Caçar!</p>
    </button>
    <button class="button3" (click)="goToGlobal()"><i class="fa fa-globe" aria-hidden="true"></i>
        <p>Todos <br> Pokemons</p>
    </button>
    <button class="button4"><i class="fa fa-user" aria-hidden="true">
        </i>
        <p>Treinadores</p>
    </button>
</div>